

# Linux Ubuntu
sudo apt update && sudo apt install portaudio19-dev
sudo apt-get install xclip

# Windows
# espeak.exe

# Python
# pip install "kokoro>=0.8.2" Dosnt work on my windows
# pip install 0.7.16
pip install pynput pyautogui pyperclip keyboard sounddevice
pip install --upgrade transformers


pip install "accelerate>=0.26.0"

pip install librosa soundfile

(clean_env) PS C:\Users\adhem\Desktop\Python\ALTTSGS> cd .\src\
(clean_env) PS C:\Users\adhem\Desktop\Python\ALTTSGS\src> cd .\githubs\
(clean_env) PS C:\Users\adhem\Desktop\Python\ALTTSGS\src\githubs> git clone https://github.com/ufal/whisper_streaming.git

pip install RealtimeSTT

pip install faster-whisper


# he installed torch version (2.3.1) is too new for the version of transformers you're using, which expects an older API (e.g., torch.library.register_fake has been removed in newer versions).

# First step: Downgrade torch to version 2.2.0 to restore compatibility.

# Run this command:



# module 'torch.library' has no attribute 'register_fake':
# pip uninstall torchvision
# pip install torchaudio==2.2.0

